<%- include("../partials/header", {title: "SIMMER"})%>

<div class="profile">
    <div class="profile-info">
        <!-- Add user's bio -->
        <img src="profile-picture.jpg" alt="Profile Picture">
        <p>About Me: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget urna rutrum, congue velit eu, venenatis lorem.</p>
    
        
    </div>

    <div class="recipes">
        
        <h5>Recipes I Love</h5>
        <% if (savedRecipes.length > 0) { %>
            <ul>
                <% savedRecipes.forEach(function(recipe) { %>
                    <li><%= recipe.title %></li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No saved recipes yet.</p>
        <% } %>
        <!-- Add statistics about saved recipes -->
        <p>Total Saved Recipes: <%= savedRecipes.length %></p>
    </div>
</div>


<%- include("../partials/recipe")%>
<%- include("../partials/footer") %>
