<%- include("../partials/header", {title: "SIMMER"})%>

<br>

<div class="profile">
    <div class="profile-info">
        <!-- Add user's bio -->
        <img src="<%=user.avatar %>" alt="Profile Picture">
        <div class="user-name-container"><%= user.name %></div>
    </div>

    <div class="recipes">
        <h5>Recipes I Love</h5>
        <% if (savedRecipes && savedRecipes.length > 0) { %>
            <ul>
                <% savedRecipes.forEach(function(recipe) { %>
                    <li><%= recipe.title %></li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No saved recipes yet.</p>
        <% } %>
        <!-- Add statistics about saved recipes -->
        <p>Total Saved Recipes: <%= savedRecipes.length %></p>
    </div>
</div>

<br>

<%- include("../partials/recipe")%>

<%- include("../partials/footer") %>
