<!-- view template for displaying list of recipes-->

</br> </br>


<div class="recipe-list">
    <% recipes.forEach(recipe => { %>
        <div class="recipe-item">
            <h2><%= recipe.title %></h2>
            <p><%= recipe.description %></p>
            <p><strong>Ingredients:</strong> <%= recipe.ingredients %></p>
            <p><strong>Instructions:</strong> <%= recipe.instructions %></p>
            <img src="<%= recipe.imgURL %>" alt="<%= recipe.title %> Image">

            <!-- Save Recipe feature: -->
            <% if(user) { %>
            <form action="/recipes/<%= recipe._id %>/users/<%=user._id%>" method="POST">
                <input type="hidden" name="recipeId" value="<%= recipe.id %>">
                <% if(collection.includes(recipe._id)) {
                    console.log("la incluye");
                }else { %>
                    <button type="submit">Save Recipe</button>
                <% } %>
                <button type="submit" formaction="recipes/<%= recipe._id %>" formmethod="GET">View Details</button>
            </form>
            <% } %>
        </div>
    <% }) %>
</div>
