<!-- view template for displaying list of recipes-->


<div class="recipe-list">
    <% recipes.forEach(recipe => { %>
        <div class="recipe-item">
            <h2><%= recipe.title %></h2>
            <p><%= recipe.description %></p>
            <img src="<%= recipe.imgURL %>" alt="<%= recipe.title %> Image">

            <!-- Save Recipe feature: -->
            <% if(user) { %>
            <form action="/recipes/<%= recipe._id %>/users/<%=user._id%>" method="POST">
                <input type="hidden" name="recipeId" value="<%= recipe.id %>">
                <% if(collection.includes(recipe._id)) { %>
                    <button type="submit" formaction="/recipes/<%= recipe._id %>?_method=DELETE" formmethod="POST">Delete</button>
                <% }else { %>
                    <button type="submit">Save</button>
                <% } %>
                <button type="submit" formaction="recipes/<%= recipe._id %>" formmethod="GET">View Details</button>
                <% if(String(recipe.owner) === String(user._id)) { %>
                    <button type="submit">Edit</button>
                <% } %>
            </form>
            <% } else {%>
                <form action="recipes/<%= recipe._id %>" method="GET">
                    <input type="hidden" name="recipeId" value="<%= recipe.id %>">
                    <button type="submit">View Details</button>
                </form>
                    
            <% } %>
        </div>
    <% }) %>
</div>