<%- include('../partials/header') %>

<div class="card-recipe">
    <div class="recipe-title-image">
        <h1><%= recipe.title %></h1>
        <img src="<%= recipe.imageURL %>" alt="<%= recipe.title %>" />
        

    </div>
    <div class="recipe-instructions">
        <h2>Instructions</h2>
        <% if(recipe.instructions) { %>
            <ol>
                <li><%= recipe.instructions %></li>
            </ol>
            </div>
        <div class="recipe-ingredients">
        <h2>Ingredients</h2>
        <ul>
                <li><%= recipe.ingredients %></li>
        </ul>
        </div>
        <div class="recipe-actions">
        <button class="save-button">Save Recipe</button>
        <button class="review-button">Leave a Review</button>
        <div class="star-rating">
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
        </div>
        </div>
        <% } %>
</div>




<%- include('../partials/footer') %>